body {
    font-family: 'Tajawal', sans-serif;
}

header h1 {
    font-size: 2em;
    text-align: center;
    padding: 25px;
}

#introBlock {
    font-size: 2em;
    text-align: center;
    padding: 10px 0 10px 0;
    height: 250px;
    width: auto;
}

.article_placeholder {
  font-size: 1.75em;
  text-align: center;
  height: 250px;
  background-color: #C4C4C4;
  border: 1px solid black;
}

#form_placeholder {
  font-size: 1.75em; 
  text-align: center;
  height: 250px;
  width: auto;
  background-color: rgb(150, 61, 90);
  border: 1px solid black;
}

footer {
  height: 100px;
  background-color: rgb(161, 196, 181);
}

footer h1 {
  font-size: 2em;
  text-align: center;
}

/*Desktop Styles*/
@media screen and (min-width: 1024px) {

    #introBlock {
       margin: 10px;
    }
    
    #introText {
        padding: 100px 0 20px 0;
    }
    
}