/*
File Name: navigationAitH.css
Date: 10/8/17
Programmer: Stesha Norstrom
*/

/* Set up menu */

.headerNav {
    background-color: rgb(248, 204, 207);
    height: 100px;
}

/* remove bullet in front of list items in menu */
 
.headerNav ul {
    list-style-type: none;
    margin-top: 0;
    padding-left: 0;
    overflow: hidden;
}

/* space between lines */

.headerNav li {
    padding: 10px 0;
}
 
/* remove underline in links. */
 
.headerNav li a:hover {
    background-color: #F4F4F4;
}

/* space around each of the menu items */
  
.headerNav li a {
    text-decoration: none;
    color: rgb(22, 23, 24);
    padding: 10px 30px;
    font-family: 'Tajawal', sans-serif;
    font-weight: bold;
    font-size: 1.1em;
}

.headerNav .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

.headerNav .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
}
 
.headerNav .menu-icon .navicon2 {
    background: rgb(22, 23, 24);
    display: block;
    height: 2px;
    position: relative;
    transition: background .3s ease-out;
    width: 18px;
}
 
.headerNav .menu-icon .navicon2:before,
.headerNav .menu-icon .navicon2:after {
    background: rgb(22, 23, 24);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .3s ease-out;
    width: 100%;
}
 
.headerNav .menu-icon .navicon2:before {
    top: 5px;
}
 
.headerNav .menu-icon .navicon2:after {
    top: -5px;
}

.headerNav .hamburger-menu {
    display: none;
}
 
.headerNav .hamburger-menu:checked ~ .menu {
    max-height: 240px;
}
 
.headerNav .hamburger-menu:checked ~ .menu-icon .navicon2 {
    background: transparent;
}
 
.headerNav .hamburger-menu:checked ~ .menu-icon .navicon2:before {
    transform: rotate(-45deg);
}
 
.headerNav .hamburger-menu:checked ~ .menu-icon .navicon2:after {
    transform: rotate(45deg);
}
 
.headerNav .hamburger-menu:checked ~ .menu-icon:not(.steps) .navicon2:before,
.headerNav .hamburger-menu:checked ~ .menu-icon:not(.steps) .navicon2:after {
    top: 0;
}


/*  DESKTOP STYLES */
@media only screen and (min-width: 1024px) {

     .headerNav {
        height: 150px;
    }
    
    .headerNav .menu {
        margin: 0 25% 10px 25%;
        max-height: none;
        width: auto;
    }
    
    .headerNav ul {
        overflow: visible;
        margin-bottom: 20px;
        text-align: center;
        width: 100%;
    }
  
    .headerNav li {
        float: left;
        padding: 10px 15px;
    }
    
    .headerNav li a {
        padding: 0 10px 0 5px;
        font-size: 1.25em;
    }
    
    .headerNav .menu-icon, .hamburger-menu {
        display: none;
    }
}

