/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }


/*  GRID OF TWO  */
.span_2_of_2 {
	width: 100%;
}


/*  GO FULL WIDTH AT LESS THAN 768 PIXELS */


@media only screen and (max-width: 768px) {
	.span_2_of_2, .span_1_of_2 { 
        width: 100%;
        margin: 1% 0;
    }
}

